<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gymmy | Treinos Personalizados</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/page-landing.css">
  <link rel="shortcut icon" href="/images/icons/dumbbell.png" type="image/png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body id="page-landing">

  <div id="container">

    <div class="logo-container">
      <img src="/images/SVG/LogoGymmy2.svg" alt="Gimmy">
      <h2>Treinos personalizados com os melhores profissionais da sua região</h2>
    </div>

    <img class="hero-image" src="/images/SVG/landing-img2.svg" alt="academia">

    <div class="buttons-container">
      <a class="treinar" href="/treinar">TREINAR</a>
      <a class="dar-aula" href="/dar-aula">DAR AULAS</a>
    </div>

    <p class="total-connections">
      250 pessoas já se exercitaram!
      <img src="/images/SVG/heart4.svg" alt="coração">
    </p>

  </div>

  

</body>

</html>