<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gymmy | Treinos Personalizados</title>

  <link rel="shortcut icon" href="/images/icons/dumbbell.png">

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/header.css">
  <link rel="stylesheet" href="/styles/partials/forms.css">
  <link rel="stylesheet" href="/styles/partials/page-treinar.css">
  <link rel="stylesheet" href="/styles/partials/modal.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

  <script src="/scripts/modalCadastro.js" defer></script>
</head>

<body>


       <div id="modalOverlay">
          <div class="modalSucess">
            <div id="exitButton" type="button">X</div>
            <p>Recebemos os seus dados! Agora é só ficar de olho no whatsapp</p>
          </div>
      </div>


</body>

</html>